<hr>
<div>
  <button mat-flat-button color="primary">Test Primary</button>
  <button mat-flat-button color="accent">Test Accent</button>
  <button mat-flat-button color="warn">Test Warn</button>
  <button mat-flat-button>Test Bez Koloru</button>
</div>
<hr>

<app-navbar
  [title]="appTitle"
  (modeChange)="handleModeChange($event)">
</app-navbar>

<main class="content-container">
  <app-random-feed *ngIf="!currentModeIsFavourites"></app-random-feed>

  <p style="text-align: center; margin-top: 20px; font-style: italic;">
    Tryb: {{ currentModeIsFavourites ? 'Ulubione' : 'Losowe' }}
  </p>
</main>